main {
  background: black;
}

.page-title {
  margin-bottom: 2rem;
  padding: 1rem 0;
  background: black;
  color: white;
}

.page-title h4 {
  text-align: center;
  margin: 0.5rem 0;
  font-weight: 400;
}

.project-card {
  margin: 0 var(--side-margin) 5rem;
}

.project-section {
  margin-bottom: 1rem;
  background: white;
}

.project-info {
  padding: 2rem 4%;
}

.project-section img {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
}

.project-section h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.project-dates {
  margin-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  :root {
    --side-margin: 12%;
  }

  .project-card {
    display: flex;
    max-height: 60vh;
    gap: 1rem;
    margin-bottom: 0;
    isolation: isolate;
  }

  .project-card.active {
    max-height: none;
  }

  /* Alternating image on the left and right */
  :is(div.project-card:nth-child(odd)) .project-info {
    order: 1;
  }

  .project-section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .project-info {
    position: relative;
    padding: 6rem 6%;
    flex-basis: 110%;
    background: linear-gradient(to top, #0000 4rem, #000 20rem);
    background-clip: text;
    color: transparent;
    overflow: hidden;
  }

  .project-card.active .project-info {
    color: inherit;
    background: none;
  }

  .project-info::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    z-index: -1;
  }

  .project-card button {
    --rotation: 30deg;
    --transition-speed: 300ms;
    --transition-timing: ease-out;
    position:absolute;
    bottom: 2rem;
    left: 50%;
    width: 3rem;
    height: 3rem;
    transform: translateX(-50%);
    border-radius: 50%;
    /* background: #999 */
  }

  .project-card button > div,
  .project-card button > div::after {
    position: absolute;
    width: 1.75rem;
    height: .375rem;
    background: black;
    border-radius: 100px;
  }

  .project-card button > div {
    transform: rotate(var(--rotation));
    transition: transform var(--transition-speed) var(--transition-timing);
  }

  .project-card button > div::after {
    content: '';
    left: 90%;
    transform: rotate(calc(-2*var(--rotation)));
    transform-origin: 5%;
    transition: transform var(--transition-speed) var(--transition-timing);
  }

  .project-card.active button {
    --rotation: -30deg;
  }

  .project-section img {
    height: 100%;
    max-height: none;
  }
}

@media (min-width: 1400px) {
  .project-info {
    padding: 6rem 15%;
    flex-basis: 120%;
  }
}
