main {
  background: black;
}

.page-title {
  margin-bottom: 2rem;
  padding: 1rem 0;
  background: black;
  color: white;
}

.page-title h4 {
  text-align: center;
  margin: 0.5rem 0;
  font-weight: 400;
}

.project-card {
  margin: 0 var(--side-margin) 5rem;
}

.project-section {
  margin-bottom: 1rem;
  background: white;
}

.project-info {
  padding: 2rem 4%;
}

.project-section img {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
}

.project-section h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.project-dates {
  margin-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  :root {
    --side-margin: 12%;
  }

  .project-card {
    display: flex;
    gap: 1rem;
    margin-bottom: 0;
    min-height: 50vh;
  }

  /* Alternating image on the left and right */
  :is(.project-card:nth-child(3), .project-card:nth-child(5), .project-card:nth-child(7))
    .project-info {
    order: 1;
  }

  .project-section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-info {
    padding: 6rem 6%;
    flex-basis: 110%;
  }

  .project-section img {
    height: 100%;
    max-height: none;
  }
}

@media (min-width: 1400px) {
  .project-info {
    padding: 6rem 12%;
    flex-basis: 150%;
  }
}
