:root {
  --bg-100: #fff;
  --bg-200: #ddd;
  --bg-900: #111;
  --bg-blue-100: rgb(198, 227, 238);
  --bg-blue-900: rgb(19, 18, 73);

  --side-margin: 5%;
}

/* img {
  max-width: 100%;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
h2 {
  font-size: 2.4rem;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  position: relative;
}

p {
  line-height: 1.5;
  letter-spacing: 0.04em;
  word-spacing: 0.1em;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Small screens */
nav {
  padding: 2rem var(--side-margin);
}

nav ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 25vh 0;
  list-style-type: none;
  transition: opacity 300ms ease-in;
}

.nav-open {
  visibility: visible;
  opacity: 1;
}

nav button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1em .5em;
  z-index: 99;
}

.nav-open-close-button,
.nav-open-close-button::before,
.nav-open-close-button::after {
  background: var(--bg-900);
  width: 1.5rem;
  height: 4px;
  border-radius: 100vw;
}

.nav-open-close-button {
  position: relative;
  transition: transform 300ms ease-in;
}

.nav-open-close-button::before,
.nav-open-close-button::after {
  content: '';
  position: absolute;
  left: 0;
}

.nav-open-close-button::before {
  top: -200%;
  transition: top 100ms 300ms linear;
}

.nav-open-close-button::after {
  bottom: -200%;
  transition: transform 300ms ease-in, bottom 100ms 300ms linear;
}

.nav-open + button>.nav-open-close-button {
  transform: rotate(45deg);
  transition: transform 300ms 100ms ease-out;
}

.nav-open + button>.nav-open-close-button::after {
  transform: rotate(-90deg);
  bottom: 0;
  transition: bottom 100ms linear, transform 300ms 100ms ease-out;
}

.nav-open + button>.nav-open-close-button::before {
  top: 0;
  transition: top 100ms linear;
}

/* Resume button is styled differently than the rest */
.resume-button {
  border-radius: 100vw;
  border: 2px solid black;
  padding: 0.5em;
  z-index: 1;
}

.resume-button::after {
  border-bottom: 0;
  transform: scaleX(1);
  opacity: 0;
  background: black; /*var(--bg-blue-100);*/
  border-radius: inherit;
  height: 100%;
  z-index: -1;
  transition: opacity 200ms ease-in;
}

.resume-button:hover,
.resume-button:focus-visible {
  color: var(--bg-100);
}

.resume-button:hover::after,
.resume-button:focus-visible::after {
  opacity: 1;
}

/* Name section */
.name-card img {
  max-width: 100%;
  margin: auto auto;
  display: block;
}

.name-card > div {
  text-align: center;
  margin-top: 2em;
}

#about {
  margin-top: 3em;
  background: var(--bg-blue-100);
  padding: 80px var(--side-margin);
}

#about > div {
  background: var(--bg-100);
  padding: 1.5em;
}

#about h2 {
  font-weight: 400;
}

#about p {
  margin-top: 2rem;
}

/* Education */
#education {
  padding: 50px var(--side-margin) 80px;
}

#education ul {
  margin-top: 4rem;
}

/* Coursework section*/
.section-title-bg-image {
  background-size: cover;
  padding: 70px var(--side-margin);
  box-shadow: inset 0 0 40px 0 #0003;
  color: var(--bg-100);
}

#coursework .section-title-bg-image {
  background-image: linear-gradient(#0005, #0005), url(/bookshelf.webp);
}

#coursework ul {
  margin: 60px var(--side-margin) 80px;
}

/* Courswork bullet items */
.coursework-item {
  display: block;
  padding: 1.2em;
  margin-top: 0.4em;
  text-align: left;
  cursor: pointer;
}

.coursework-item.active {
  background: #333;
  color: white;
  border-radius: 30px;
}

.coursework-item h3 {
  padding: 0 0 0 2.5em;
}

.coursework-item:hover,
.coursework-item:focus {
  background: #333;
  color: white;
  border-radius: 30px;
  outline: none;
}

.coursework-item::before {
  content: "\f02d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5em;
  position: absolute;
}

.coursework-item p {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease-in-out;
}

.coursework-item.active p {
  margin: 2em 1em 1em 1em;
  max-height: none;
  opacity: 1;
  visibility: visible;
}

/* Experience section */
#experience {
  background: var(--bg-blue-100);
  padding: 80px var(--side-margin) 100px;
  overflow: hidden;
}

.experience-item::before {
  content: "\f072";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--bg-blue-900);
  font-size: 1.8em;
  position: absolute;
  left: 0;
}

.experience-item li {
  margin-top: 0.5em;
  list-style: disc inside;
}

.experience-item h3 {
  font-weight: 100;
}

.experience-item p {
  margin-top: 1em;
}

.experience-item p:first-of-type {
  font-size: 1.1rem;
  margin-top: 0;
}

.experience-item span {
  font-weight: 700;
}

/* list items with grid layouts inside */
.grid-list-item {
  position: relative;
  list-style: none;
  padding: 0 0 0 3.6em;
  margin-top: 2.5em;
}

/* Skills section */
#skills .section-title-bg-image {
  background-image: linear-gradient(#0007, #0007), url(/design-paper.webp);
  font-weight: 700;
  font-size: 1.2rem;
}

#skills p {
  margin-top: 2em;
}

.skills-list {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-top: 100px;
  list-style-type: none;
  gap: 2.5em;
  font-size: 1.5rem;
  place-items: center;
}

/* Volunteer Section */
#volunteer {
  background: var(--bg-900);
  padding: 80px var(--side-margin) 100px;
  color: var(--bg-100);
}

#volunteer h2 + p {
  text-align: center;
}

#volunteer ul {
  margin-top: 3rem;
}

.volunteer-card {
  background: var(--bg-100);
  color: black;
  list-style: none;
  margin: 2rem 0;
  padding: 2rem;
}

.volunteer-card h3,
.volunteer-card h4 {
  text-align: center;
  margin-bottom: 1em;
}

/* Leadership section */
#leadership {
  padding-top: 80px;
}

#leadership > div {
  margin-top: 50px;
}

.leadership-card {
  display: flex;
  background: var(--bg-blue-100);
}

.leadership-card img {
  width: 100%;
}

.leadership-card div {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 10%;
  margin: 50px var(--side-margin);
}

footer div p:nth-child(1) {
  font-weight: 600;
  margin-bottom: 0.5em;
}

/* Order of elements for small screens in leadership section */
@media (max-width: 900px) {
  .leadership-card:nth-child(2) > img,
  .leadership-card:nth-child(4) > img {
    order: 1;
  }

  footer h3 {
    width: 100%;
    text-align: center;
  }
}

/* Full sized screens */
@media (min-width: 900px) {
  :root {
    --side-margin: 12%;
  }

  /* Header and navbar */
  header {
    position: fixed;
    background-color: var(--bg-100);
    top: 0;
    width: 100%;
    box-shadow: 0 -7px 20px 10px #0002;
    z-index: 99;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
  }

  nav h3 {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
  }

  nav p {
    margin: 0;
    font-size: 0.9rem;
  }

  nav button {
    display: none;
  }

  nav ul {
    position: relative;
    flex-direction: row;
    visibility: visible;
    opacity: 1;
    padding: 0;
  }

  nav li {
    margin-right: 1em;
  }

  /* Hover animation */
  nav a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    border-bottom: 2px solid black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
  }

  nav a:hover::after,
  nav a:focus::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  /* anchor to Linkedin */
  .linkedin-link {
    font-size: 2rem;
  }

  .linkedin-link::after {
    border: none;
  }

  /* Resume button is styled differently than the rest */
  .resume-button {
    border-radius: 100vw;
    border: 2px solid black;
    padding: 0.5em;
    z-index: 1;
  }

  .resume-button::after {
    border-bottom: 0;
    transform: scaleX(1);
    opacity: 0;
    background: black; /*var(--bg-blue-100);*/
    border-radius: inherit;
    height: 100%;
    z-index: -1;
    transition: opacity 200ms ease-in;
  }

  .resume-button:hover,
  .resume-button:focus-visible {
    color: var(--bg-100);
  }

  .resume-button:hover::after,
  .resume-button:focus-visible::after {
    opacity: 1;
  }

  /* Margin so main content isn't hidden behind header */
  main {
    margin-top: 100px;
  }

  /* Name card */
  .name-card {
    display: flex;
    justify-content: center;
    padding: 100px 0;
  }

  .name-card img {
    margin: 0;
  }

  .name-card div {
    height: min-content;
    margin: auto 2rem;
    width: 25%;
  }

  .name-card h1 {
    font-size: 5rem;
    line-height: 1em;
  }

  .name-card p {
    font-size: 1.4rem;
    margin-top: 2em;
  }

  /* About section */
  #about {
    padding: 150px var(--side-margin);
  }

  #about div {
    padding: 3rem 4rem;
  }

  /* Education section */
  #education {
    padding: 100px var(--side-margin) 150px;
  }

  #education ul {
    margin-top: 5rem;
  }

  /* Coursework section*/
  .section-title-bg-image {
    padding: 150px var(--side-margin);
  }

  #coursework ul {
    margin: 5rem var(--side-margin) 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  /* Courswork bullet items */
  .coursework-item {
    display: block;
    padding: 2em;
    text-align: left;
    cursor: pointer;
  }

  .coursework-item:hover,
  .coursework-item:focus {
    border-radius: 40px;
  }

  .coursework-item.active {
    border-radius: 40px;
  }

  .coursework-item h3 {
    padding: 0 0 0 4em;
  }

  .coursework-item::before {
    font-size: 2em;
  }

  /* list items with grid layouts inside */
  .grid-list-item {
    display: grid;
    gap: 2.5em;
    padding: 0 0 0 5em;
    margin-top: 5em;
  }

  /* Experience section*/

  /* Experience bullet items */
  .experience-item {
    grid-template-columns: 2fr 3fr 5fr;
  }

  .experience-item::before {
    font-size: 2em;
  }

  .experience-item p {
    margin: 0;
  }

  .experience-item p:first-of-type {
    font-size: 1rem;
  }

  /* Volunteer Section */
  #volunteer {
    padding: 150px var(--side-margin) 100px;
  }

  .volunteer-card {
    margin: 3rem;
    padding: 4rem 10rem;
  }

  /* Leadership section */
  #leadership {
    padding-top: 100px;
  }

  #leadership > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }

  /* .leadership-card:nth-child(2) > img {
    order: 0;
  } */

  .leadership-card:nth-child(3) > img,
  .leadership-card:nth-child(4) > img {
    order: 1;
  }

  /* Leadership animation */
  .animation-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .plane-animation {
    position: absolute;
    font-size: 10rem;
    color: purple;
    transform: translate(0, -100%) rotate(-135deg);

    top: 100%;
    left: 100%;
  }

  .play {
    animation: planeAnimation 2s ease-in-out forwards;
  }

  @keyframes planeAnimation {
    from {
    }
    to {
      top: 0;
      left: 0;
      transform: translate(-100%, 100%) rotate(-135deg);
    }
  }

  /* Footer */
  footer {
    gap: 6rem;
  }

  /* Fade in Intersection Observer classes */
  .fade-in {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .left {
    transform: translateX(-50%);
  }

  .right {
    transform: translateX(50%);
  }

  .appear {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (min-width: 1400px) {
  :root {
    --side-margin: 25%;
  }
}
